<!-- Sidebar -->
<div class="sidebar" id="mySidebar">
    <div class="side-header">
        <img src="./assets/images/logo.png" width="120" height="120" alt="Swiss Collection">
        <h5 style="margin-top:10px;">Hello, Admin</h5>
    </div>

    <hr style="border:1px solid; background-color:#8a7b6d; border-color:#3B3131;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/admin"><i class="fa fa-home"></i>Trang Chủ</a>
    <a href="/admin/khachhang"><i class="fa fa-users"></i> Khách Hàng</a>
    <a href="/admin/danhmuc"><i class="fa fa-th-large"></i> Danh Mục</a>
    <a href="/admin/baiviet"><i class="fa fa-th"></i> Bài Báo</a>
    <a href="/admin/lienhe"><i class="fa fa-list"></i>Chi Tiết Liên Hệ</a>
    <a href="/admin/contact"><i class="fa fa-th"></i>Thông tin</a>


    <!---->
</div>

<div id="main">
    <button class="openbtn" onclick="openNav()"><i class="fa fa-home"></i></button>
</div>