<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="slick_slider">
    <% tieudehinhanh.forEach(function(item) { %>
    <div class="single_iteam">
      <a href="/baiviet/<%= item.id %>">
        <img src="/images/<%= item.hinhanh %>" alt="" /></a>
      <div class="slider_article">
        <h2>
          <a class="slider_tittle" href=""><%= item.tieude %></a>
        </h2>
        <p>
          <%= item.noidung %>
        </p>
      </div>
    </div>
    <% }); %>
  </div>
</div>